.vscode/
build/
site/

# C/CPP
*.exe
*.out
*.app
main
*.o
core
.gdb_history
*.so
program1
program2

*.i
*.s
*.a

*.log
*.tmp
*.lock

server
client

# module
# module
.*.cmd
*.ko
*.symvers
*.order
*.mod.c
*.mod
*.d
